extends root 

block scripts 
  script(src='/scripts/chat.js' defer)

block content 
  if !user
    p Sign up to start chatting! 
  else 
    p Hello #{user.username}, type a message!
    div(id='messsages')
    form(id='message-form')
      input(type='hidden' id='chat_id' name='chat_id' value=chat._id)
      input(type='hidden' id='user_id' name='user_id' value=user._id)
      input(type="text" id="message_input" name='message_input')
      button(id='send-message') Send Message