extends root 

block styles 
  link(rel='stylesheet' href='/styles/chat.css')

block scripts 
  script(src='/scripts/chat.js' defer)

block content 
  if !user
    p Sign up to start chatting! 
  else
    div.category
      div.section-header 
        h2 My Rooms
        a(href='/chat/create'): img(src='/images/plus.svg' alt='create chat')
        button.expand-section(type='button'): img(src='/images/chevron-down.svg' alt='expand friends')
      div.list
        if usersChatRooms && usersChatRooms.length > 0
          ul 
            each room in usersChatRooms
              li: a(href=`/chat/${room._id}`)= room.name 
        else 
          p You have not created any chat rooms

    div.category 
      div.section-header 
        h2 Recent Chats 
        button.expand-section(type='button'): img(src='/images/chevron-down.svg' alt='expand recent chats')
      div.list 
        if user.chats 
          ul  
            each room in user.chats 
              li: a(href=`/chat/${room._id}`)= room.name 
        else 
          p No recent chats 

    div.category      
      div.section-header 
        h2 Public Rooms
        button.expand-section(type='button'): img(src='/images/chevron-down.svg' alt='expand friends')
      div.list    
        if publicRooms.length > 0
          ul 
            each room in publicRooms 
              li: a(href=`/chat/${room._id}`)= room.name 
        else 
          p There are no public Rooms