extends root 

include mixins/friend-form-mixin.pug

block scripts 
  script(src='/scripts/friend_request.js' defer)
  
block styles 
  link(rel='stylesheet' href='/styles/friends.css')
  link(rel='stylesheet' href='/styles/forms.css')
  link(rel='stylesheet' href='/styles/profile-images.css')


block content 
  if !user  
    p Sign up to start chatting! 
  
  else if user.friends.length == 0
    p Add friends to start chatting! 
  
  else
    h1 Friends
    div.friends 
      each entry in user.friends 
        div.friend 
          div.image 
            img.profile-image(src=entry.friend.image || '/images/account.png')
          div.user-name
            - 
              let onlineStatus = '';
              let displayOnline = entry.friend.public && entry.friend.showOnlineStatus
              if (displayOnline) {
                onlineStatus = entry.friend.online ? 'online' : 'offline';
              } 
            p(class=`${onlineStatus}`) #{entry.friend.username}
            
          if entry.status == 'sent'
            div.actions
              +friendForms('friendship-reject', 'Cancel Friend Request', entry.friend._id)
          else if entry.status == 'recieved'
            div.actions
              +friendForms('friendship-accept', 'Accept Friend Request', entry.friend._id)
              +friendForms('friendship-reject', 'Reject Friend Request', entry.friend._id)
          else if entry.status == 'friend'
            div.actions
              a.link-button.primary-btn(href=`/chat/${entry.chat._id}`) Chat
              +friendForms('friendship-reject', 'Remove Friend', entry.friend._id) 
