extends root 


block styles
  link(rel='stylesheet' href='/styles/locate-users.css')
  link(rel='stylesheet' href='/styles/profile-images.css')


block content 
  if user
    form#search-form(method='post')
      div#search-input
        input(id='search' name='search' type='search' value=term || '' required)
        label(for='search') Search
      button: img(src='/images/magnify.svg' alt='search')

    if users
      if users.length > 0
        div.users 
          each foundUser in users 
            div.user 
              a(href=foundUser.url)
                div
                  div.image
                    img.profile-image(src=foundUser.image || '/images/account.png')
                  p #{foundUser.username}
      else 
        p No users found
  else 
    p Sign up to access this page.


   
