extends root 


block styles
  link(rel='stylesheet' href='/styles/locate-users.css')


block content 
  if user
    form#search-form(method='post')
      div#search-input
        input(id='search' name='search' type='search' value=term || '' required)
        label(for='search') Search
      button: img(src='/images/magnify.svg' alt='search')

    div.users 
      if users
        each user in users 
          p: a(href=user.url) #{user.username}
  else 
    p Sign up to access this page.


   
