extends root 

block styles 
  link(rel='stylesheet' href='/styles/forms.css')

block content 
  div.form-container
    form(method='post' action='/users/login')
      div.form-title Login to start chatting!
      div.form-field
        label(for='username') Username
        input(id='username' name='username' type='input')
        if error && error.username 
          p.error #{error.username}
      div.form-field 
        label(for='password') Password
        input(id='password' name='password' type='password')
        if error && error.password 
          p.error #{error.password}

      if error && error.failed
        p.error Invalid username or password
      div.buttons
        button.primary-btn(type='submit') Login
