doctype html 
html(lang='en')
  head 
    title Chat App
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel='stylesheet' href='/styles/root.css')
    block styles

    block scripts
  body
    if user 
    header
      h1 Top Chat
      if user
        ul.user-options
          li: a(href='/users/me/')= user.username
          li |
          li: a(href='/users/me/edit') Edit Profile
          li |
          li 
            form(method='post' action='/users/logout')
              button(type='submit') Logout  
    nav
      ul 
        li: a(href='/') Home 
        if user
          li: a(href='/users') Users 
          li: a(href='/chat') Chat 
          li: a(href='/users/friends') Friends
    
    div.content 
      block content 
