.section-buttons {
  --primary-background: #cbd5e1;
  --secondary-background: transparent;
  --primary-background-active: #94a3b8;
  --primary-color: #334155;
  --primary-color-active: #e2e8f0;
}

.section-buttons a {
  text-decoration: none;
}
.section-buttons button,
.section-buttons a {
  background-color: var(--primary-background);
  color: var(--primary-color);
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  margin-right: 1rem;
  margin-left: 0;
  font-size: 1rem;
  cursor: pointer;
}

button.active {
  background-color: var(--primary-background-active);
}

.section {
  display: none;
}

.section.active {
  display: block;
}