form * {
  font-size: 1rem;
}

input, textarea {
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #475569;
}

textarea {
  padding: 20px;
}

button,
.link-button {
  --primary-background: #cbd5e1;
  --secondary-background: transparent;
  --primary-background-hover: #94a3b8;
  --primary-color: #334155;
  --primary-color-hover: #e2e8f0;
}

.link-button {
  text-decoration: none;
  text-align: center;
}

fieldset {
  padding: 0 2.5rem;
  margin: 1rem 0;
  border-radius: 10px;
}

.form-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.form-container.left {
  justify-content: flex-start;
  align-items: flex-start;
}

.form-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.form-input-field,
.form-textarea {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-check-field {
  margin: 10px;
}

.buttons{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1rem 0;
}

.primary-btn {
  color: var(--primary-color);
  background-color: var(--primary-background);
  padding: 8px 25px;
  border: 0;
  border-radius: 8px;
  box-shadow: 1px 1px 2px black;
}

.primary-btn:hover {
  color: var(--primary-color-hover);
  background-color: var(--primary-background-hover);
}

.secondary-btn {
  border: 0;
  background-color: var(--secondary-background);
}

.secondary-btn:hover {
  text-decoration: underline;
}
