@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto';
}

:root {
  --shadow-color: #475569;
}

html,
body {
  height: 100vh;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  padding: 0;
  margin: 0;
  background-color: #e5e7eb;
}

header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  padding-bottom: 0;
}

header .user-options {
  list-style: none;
  margin: 0;

  display: flex;
  gap: 16px;
  align-self: flex-end;
  background-color: #cbd5e1;

  padding: 1rem 2rem;
  padding-bottom: 0;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

header .user-options * {
  font-size: 1rem;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  color: #1e293b;
  cursor: pointer;
}

nav {
  grid-area: 2 / 1 / 3 / 2;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  padding: 1rem 3rem;
}

nav ul li a {
  text-decoration: none;
}

.content {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #f1f5f9;
  border-top-left-radius: 20px;
  padding: 1rem 3rem;
  box-shadow: inset 1px 1px 3px var(--shadow-color);
}